body {
    padding: 50px;
    font: 14px sans-serif;
}

a {
    color: #00B7FF;
}

th {
    border-bottom: solid 1px black;
}
td {
    border-bottom: solid 1px lightgray;
}
td.number {
    text-align: right;
}